body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(38, 107, 55); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#4CAF50; 
}

a {
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.page {
  max-width: 860px;
  margin: 120px auto 0 auto;
}

#link {
  border-radius: 15px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background: #f3f3f3;
  margin-top: 10px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  padding-top: 40px;
}

#link > div {
  width: 90%;
  height: 100%;
}

#stack {
  border-radius: 15px;
  width: 400px;
  height: 55vh;
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  align-items: center;
  background: #f3f3f3;
  margin-top: 10px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

#queue {
  border-radius: 15px;
  width: 400px;
  height: 55vh;
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-end;
  align-items: center;
  background: #f3f3f3;
  margin-top: 10px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.sta {
  height: 11%;
  margin-top: 5px;
  border-radius: 8px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4CAF50;
  transition: transform 1.5s 0s, opacity 1.25s 0s;
  transform: translateX(0);
  animation-duration: 500ms;
  transition-duration: 500ms;
  opacity: 1;
  color: white;
  font-weight: bolder;
}

.staDelete {
  height: 40px;
  margin-top: 5px;
  border-radius: 8px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4CAF50;
  transition: transform 1.5s 0s, opacity 1.25s 0s;
  transform: translateX(0);
  animation-duration: 500ms;
  transition-duration: 500ms;
  transform: translateX(-50%);
  opacity: 0;
}

#stackDash {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #4CAF50;
  margin-top: 10px;
}

#stackDash .peek, #stackDash .push{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stackDash h3 {
  font-size: larger;
  color: white;
  text-align: center;
  width: 100px;
}

#stackDash button {
  height: 40px;
  width: 120px;
  background: #ffffff;
  border: none;
  color : #03641b;
  font-weight: bolder;
  border-radius: 8px;
}

#stackDash button:hover {
  color : #ffffff;
  background: rgb(38, 107, 55);
  cursor: pointer;
}

#stackDash button:active {
  outline: none;
  border: none;
}

#stackDash input {
  padding: 5px;
  margin-left: 5px;
  color: #03641b;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: none;
}

#contactForm {
  width: 50%;
  background-color: #f3f3f3;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0px 25px 30px 0px rgba(0,0,0,0.5);
  margin-left: 30px;
}

.inputElement {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0.3rem 0;
  font-weight: bold;
  border-radius: 8px;
}

.inputElement input {
  border: 1px solid #acacac;
  height: 1.5rem;
  border-radius: 3px;
  padding: 0.2rem 0.6rem;
  margin-top: 0.2rem;
}

.submitElement {
  width: 90%;
  margin: 0.3rem 0;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.submitElement button {
  width: 170px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
}

.submitElement button:hover {
  cursor: pointer;
  background-color: #03641b;
}

textarea {
  margin-top: 0.2rem;
  border: 1px solid #acacac;
  border-radius: 3px;
  resize: none;
  height: 3rem;
}

form h1 {
  margin: 0.4rem 0;
}

